@charset "UTF-8";
.wrapper {
    background-color: #11ffee00;
    margin-top: 150px;
    min-height: 850px;
}

div.wrapper div.container {
    width: 1200px;
    padding-bottom: 80px;
}

.wrapper .container table {
    width: 100%;
    border-top: double;
}

.wrapper2 .pagination {
	

}
/* #apartpaging{
	text-align : center;
	color : black;
}
.wrapper2 .pagination ul li{
	
	margin : 13px;
	display : inline-block;
	font-size : 17px;
	color : #fff;
} */
#tableup th{
 color: rgb(101, 101, 101);
 font-size: 14px;
 font-weight: 400;
 height: 20px;
 line-height: 20px;
 text-align: center;
 vertical-align:middle;
 background-color: rgb(248, 248, 248);
}
#tabledown th{
	color: rgb(101, 101, 101);
    font-size: 14px;
    font-weight: 400;
    vertical-align: middle;
    height: 50px;
    text-align: center;
}
#apartpaging{
	text-align : center;
}
#apratpaging ul {
	list-style:none;
	float:left;
	display:inline;
}
#apartpaging ul li {
	list-style:none;
	float:left;
}

#apartpaging .pagination a {
	color : black;
	border: 1px solid #ddd;
	float : left;
	padding : 8px 16px ;
	text-decoration: none;
	transition : background-color .3s;
	color : black;
	
}

.top-bar{
	background-color : rgb(31, 45 , 60);
}
.navbar-default top-bar affix .navbar-nav li a{
	color:white;
}
.navbar-default a.navbar-brand.dark{
	color:white;
}
#apartpaging ul li.currentRed{
	background-color: #dedede;
}
#apartpaging ul li.currentRed a{
	color:red;
}
#cate
{
	vertical-align: middle;
}
 .search-option
 {
  height : 50px  ;
 }
.search-option1
{
	position: relative;
	left : 0px;
	top : -320px;
    border : 2pt solid #D3D3D3; 
	border-radius : 5px;
	width : 26%;
    padding : 2px;
    background-color : #FFFAFA; 
}
.search-option2
{
	position: relative;
	left : 0px;
	top : -320px;
    border : 2pt solid #D3D3D3; 
	border-radius : 5px;
	width : 26%;
    padding : 2px;
    background-color : #FFFAFA; 
}
.search-sort
{
    position: relative;
	left : 0px;
	top : -320px;
    border : 2pt solid #D3D3D3; 
	border-radius : 5px;
	width : 26%;
    padding : 2px;
    background-color : #FFFAFA; 
}
.search-option3
{
	position: relative;
	right : 100 px;
	top : -20px;
 
 
}
#search-text
{
	position : relative;
    right : 150px;
    top : 30px;
    
}
#searchfd
{
	width : 80%;
}
#searchbtn
{
	width : 20%;
}
#option{
list-style-type: none; 
margin-left : 20px;
line-height : 25px;
}
#rsort{
list-style-type : none;

}
#search-sort1
{
 	padding : 0px 0px 0px 0px;
}
#search-sort1 li
{
	line-height : 25px;
 	padding : 0px 0px 0px 30px;
}
#search-sort1 li:first-child
{
	line-height : 25px;
 	padding : 0;
}
#rsort>a{
	color: rgb(93, 93, 93);
	font-weight:500
}
#rsort>a.sorted{
	color: red;
}
#rsort>a:hover{
	text-decoration: none;
	cursor: pointer;
}
#sc
{
	margin : 15px 0px 15px 0px;
}





