@charset "UTF-8";
.wrapper {
    background-color: #11ffee00;
    margin-top: 150px;
    min-height: 850px;
}

div.wrapper div.container {
    width: 1200px;
    padding-bottom: 80px;
}

.wrapper .container table {
    width: 100%;
    border-top: double;
}

.wrapper2 .pagination {
	

}
/* #apartpaging{
	text-align : center;
	color : black;
}
.wrapper2 .pagination ul li{
	
	margin : 13px;
	display : inline-block;
	font-size : 17px;
	color : #fff;
} */
#tableup th{
 color: rgb(101, 101, 101);
 font-size: 14px;
 font-weight: 400;
 height: 20px;
 line-height: 20px;
 text-align: center;
 vertical-align:middle;
 background-color: rgb(248, 248, 248);
}
#tabledown th{
	color: rgb(101, 101, 101);
    font-size: 14px;
    font-weight: 400;
    vertical-align: middle;
    height: 50px;
    text-align: center;
}
#apartpaging{
	text-align : center;
}
#apratpaging ul {
	list-style:none;
	float:left;
	display:inline;
}
#apartpaging ul li {
	list-style:none;
	float:left;
}

#apartpaging .pagination a {
	color : black;
	border: 1px solid #ddd;
	float : left;
	padding : 8px 16px ;
	text-decoration: none;
	transition : background-color .3s;
	color : black;
	
}

.top-bar{
	background-color : rgb(31, 45 , 60);
}
.navbar-default top-bar affix .navbar-nav li a{
	color:white;
}
.navbar-default a.navbar-brand.dark{
	color:white;
}
#apartpaging ul li.currentRed{
	background-color: #dedede;
}
#apartpaging ul li.currentRed a{
	color:red;
}
#cate
{
	vertical-align: middle;
}












