@charset "UTF-8";
.wrapper {
    background-color: #11ffee00;
    margin-top: 150px;
}

div.wrapper div.container {
    width: 1020px;
    padding-bottom: 80px;
}

.wrapper .container table {
    width: 100%;
    border-top: double;
}

.wrapper2 .pagination {
	

}
.wrapper2 .pagination ul li{
	display : inline-block;
}
.top-bar{
	background-color: rgb(31, 45, 60);
}
.navbar-default.affix .navbar-nav li a{
	color:white;
}
.navbar-default a.navbar-brand.dark{
	color:white;
}