@charset "UTF-8";
<!-- #6699cc #72a4d9  #112444  #dfdfdf  #fda4ba -->
.arw{
	width:8px;
	height:5px;
}
.color_sky{
	color:#B8F8FB;
	font-weight: bold;
}
.color_wh{
	color:white;
	font-wight: bold;
}

.bg_color_navy{
	background-color: #165fa1;
	color:white;
	font-weight: bold;
}
.bg_color_Lgray{
	background-color: #f3f3f3;
}
.color_Mgray{
	color:#999999;
}
.color_sky_point{
	color:#3A85C7;
	font-wight: bold;
}

.periodBox{
	margin: 30px 0px;
	padding: 20px;
	align-content: center;
	align-items: center;	
	align-self: center;
	border-radius: 8px;
	border: 2px solid #72a4d9;	
	
}
.box-radio-input input[type="checkbox"]{/******************************/
   display:none;
}
.box-radio-input input[type="checkbox"] +span{/******************************/
  display:inline-block;
  background:none;
  border:1px solid #dfdfdf;  
  padding:0px 10px;
  text-align:center;
  height:40px;
  line-height:33px;
  font-weight:500;
  cursor:pointer;
  border-radius: 15px;
  background-color: #f3f3f3;
  color:#999999
}
label{
	cursor: pointer;
}
.box-radio-input input[type="checkbox"]:checked +span{/******************************/
  border:1px solid;
  background:#72a4d9;
  color:white;
  border-radius: 15px;
  font-weight: bold;
  
}

/* select{
	margin: 0;
	padding: 0;
	font-size: 12px;
	vertical-align: middle;	
} */

hr{
	color: #dedede;    /* IE */
    border-color: #dedede;  /* 사파리 */
    background-color: #dedede;   /* 크롬, 모질라 등, 기타 브라우저 */
}
.Back_LG{
	background-color: #F3F3F3;
}
/*color:하늘 #59c6d5 #B8F8FB /핑크 #f48fb1  포인트색: #3A85C7 , #579fd3 옅은블랙: #555555 연그레이:#ABABAB dedede 999999*/