@charset "UTF-8";

.wrapper {
    background-color: #f8f8f8;
    margin-top: 70px;
    
}
.productContainer{
	padding-top:100px;
	margin-left:100px;
	margin-right:100px;
}

div.wrapper div.container {
    width: 1100px;
    padding-bottom: 80px;
}

.wrapper .container table {
    width: 100%;
    border-top: double;
}
.top-bar{
	background-color : rgb(31, 45 , 60);
}


/* 사이드 매물정보 css */
.sidebar{
	background-color:gainsboro;
	position:fixed;
	top:130px;
	right:100px;
	bottom:0;
	padding:0;
	width:450px;
	height:400px;
	border-collapse: collapse;
	border: .5px solid;
	box-shadow: 0 5px 18px -7px rgba(0,0,0,1);
}
.sidebarTitle{
	padding:10px;
	text-align:center;
	font-size:XX-large;
}
.sidebarContent1{
	padding:15px 0px 0px 50px;
	font-size:large;
}
.sidebarContent2{
	padding:5px 0px 0px 50px;
	font-size:large;
}
.sidebarAddress{
	padding:5px 0px 0px 50px;
	font-size:mideum;
}
.table1{
	margin-left:auto;
	margin-right:auto;
	width:450px;
	border-collapse: collapse;
  	border: 2px solid;
}
.sidebar span{
	margin-left:auto;
	margin-right:auto;
}




/* 버튼css */
.buttonC1{
	background-color:ghostwhite;
	font-size:5px;
}
.buttonC2{
	background-color:ghostwhite;
	font-size:5px;
}
.button2 {
  margin-left:150px;
  text-decoration:none;
  background-color: ghostwhite;
  color: black; 
  border: 2px solid red;
  font-weight:bold;
  font-size:x-large;
}
.button2:hover {
  text-decoration:none;
  background-color: red;
  color: white;
}
.button3 {

  text-decoration:none;
  background-color: ghostwhite;
  color: black; 
  border: 2px solid red;
  font-weight:bold;
  font-size:x-large;
}

.button3:hover {
  text-decoration:none;
  background-color: blue;
  color: white;
}


.table2{
	width:700px;
	border-collapse: collapse;
  	border: 2px solid;
}


#curve_chart{
	width: 700px;
	height: 500px;
}
